* text=auto
*.js text
*.jsx text
*.json text
*.css text
*.html text
*.md text
*.yml text
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.zip binary
*.gz binary
*.tar binary
*.exe binary
*.dll binary
